<ion-header [translucent]="true" >
  <ion-toolbar color="primary">
    <ion-title color="light">
      ข้อมูลนักเรียน ปวช.2/3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="padding">
<ion-label style="text-align: center;">
  <h1><b>แก้ไขข้อมูลนักเรียน ปวช.2/3</b></h1>
</ion-label>
<ion-item position="floating">
  <ion-label>
 รหัสนักศึกษา
<ion-input type="text" > </ion-input>
  </ion-label>
</ion-item>
<ion-item position="floating">
  <ion-label>
  ชื่อ-สกุล
<ion-input type="text" > </ion-input>
  </ion-label>

</ion-item>
<ion-item position="floating">
  <ion-label>
  ชื่อเล่น
<ion-input type="text" > </ion-input>
  </ion-label>

</ion-item>
<ion-item position="floating">
  <ion-label>
  อายุ
<ion-input type="text" > </ion-input>
  </ion-label>

</ion-item>
<ion-item position="floating">
  <ion-label>
  เบอร์โทรศัพท์
<ion-input type="text" > </ion-input>
  </ion-label>
</ion-item>
<ion-item position="floating">
  <ion-label>
  ที่อยู่
<ion-input type="text" ></ion-input>
  </ion-label>
</ion-item>

<ion-list>
<ion-item>
  <ion-select label="สถานะภาพ" label-placement="floating" >
    <ion-select-option value="โสด">โสด</ion-select-option>
    <ion-select-option value="มีแฟน">มีแฟน</ion-select-option>
    <ion-select-option value="สมรส">สมรส</ion-select-option>
    <ion-select-option value="หย่าร้าง">หย่าร้าง</ion-select-option>
  </ion-select>
</ion-item>
</ion-list>

<div class="text-center mt4" style="text-align: center;"  >
  <ion-button expand="block" color="success" (click)="editmember()">
    <H4 >แก้ไขข้อมูล</H4></ion-button>
</div>
</ion-content>
